.popUpLib{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 100px;
    z-index: 900;
}

.popUpLib-h1{
    text-align: center;
    height: 500px;
    margin-bottom: 20px;
}

.popUpLib-exit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    z-index: 999;
    border-radius: 20px;
    width: 90%;
    margin: 16px auto;
    background-color: red;
    cursor: pointer;
}

/* ------------------------ */

.AlertLib{
    width       : 200px;
    height      : 300px;
    position    : fixed;
    display     : flex;
    top      : 200px;
    flex-direction : column;
    justify-Content : center;
    align-Items : center;
    background-Color : white;
}

.AlertLib-img{
    width : 100px;
    height : 100px;
}

/* ------------------------ */
.confirmLib{
    width : 300px;
    height : 200px;
    position : fixed;
    display : flex;
    top : 200px;
    flex-Direction : column;
    justify-Content : center;
    align-Items : center;
    background-Color : white   ;
}

.confirmLib-btn-true , .confirmLib-btn-false{
    width:50px;
    height:50px;
    border-Radius :20px;
    cursor :pointer;
}

.confirmLib-btn-true{
    background-Color :green;
}
.confirmLib-btn-false{
    background-Color :red;
}