#calendarAsistance{
    width: 90%;
    height: max-content;
    margin: 10px auto;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 1px #0000002b;
    border-radius: 10px;
    background-color: #e8e4ff;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

#selectDate{
    width: 95%;
    height: 50px;
    background-color: #fcf9f9;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}


#SelectTime{
    width: 30%;
    background-color: #ecebeb;
    display: grid;
    grid-template-columns:repeat(30,1fr);
    justify-content: center;
    align-items: center;
}

.btnSelectTime{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

#btnSelectTime_V{
    grid-column: 4/7;
}

#btnSelectTime_date{
    grid-column: 8/21;
    display: flex;
    height: 40px;
    justify-content: center;
    font-size: x-small;
    align-items: center;
}

#btnSelectTime_left{
    grid-column: 22/25;
}
#btnSelectTime_rigth{
    grid-column: 26/29;
}





#theCalendar{
    width: 95%;
    background-color: #fcf9f9;
    margin: 10px auto;
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap:5px
}

#Calendar_row{
    background-color: #fafafa;
    display:grid;
    padding: 0px 10px ;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    
}

#Calendar_col{
    background-color: #fafafa;
    display:grid;
    padding: 0px 10px ;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}


.weekCalendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    height: 100px;
}
.weekCalendar span{
    text-align: center;
}
.dayCalendar{
    background-color: #f4f4f4;
    padding: 8px;
    height: 300px;
}
.saturday{
    background-color: #f9e3e3;
}


@media (max-width: 1200px) {
    #SelectTime{width: 40%;}
}
@media (max-width: 1000px) {
    #SelectTime{width: 50%;}


    #theCalendar{
        flex-direction: row;
    }
    #Calendar_row{
        grid-template-rows: repeat(7,1fr);
        grid-template-columns: repeat(1,1fr);
        width: 25%;
    }
    #Calendar_col{
        width: 80%;
        grid-template-rows: repeat(7,1fr);
        grid-template-columns: repeat(1,1fr);
    }

    .dayCalendar,.weekCalendar{
        height: 100px;
    }

}
@media (max-width: 800px) {
    #SelectTime{width: 60%;}
}
@media (max-width: 600px) {
    #SelectTime{width: 100%;}
    #selectDate>span{display: none;}
}

