#children-container{
    display: flex;
}
#children-container h2{
    margin-top: 20px;
    margin-right: 20px;
}

#addChildrenActions{

    width:0%
}


#childern-list{
    padding: 10px;
    width:100%;
    min-height: 400px;
}


#childComponents{
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    justify-items: center;
}

#AddChildrenBtn{
    background-color: #d9d9d9;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: medium;
    width: 85%;
}

#icon-Plus{
    display:flex;
    font-weight: bold;
    font-size: xx-large;
}

#AddChildrenBtn:hover {
    background-color: #b3b3b3;
}
