.children-item{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px 1px #00000029;
    border-radius: 8px;
}

.children-item:hover {
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.05);
}

.children-item #child-image{
    display: flex;
    justify-content: center;
    height: 85%;

}

.children-item img{
    display: block;
    width: 95%;
}

.children-item #child-name{
    display: flex;
    justify-content: center;
    font-size: large;
    height: 10%;

}