:root{
    --fontSize                  : 1rem;
    --header_avatar_col         : 1/8;
    --header_nav_col            : 8/23;   
    --header_logo_col           : 23/30;  
    --header_nav_justify        : center;   
    --header_logo_justify       : left ;  
    --logo1_display             : inline-block;
    --logo2_display             : none;
    --nav1_display              : flex;
    --nav2_display              : none;
    --nav_burger              : none;
}
#numberOfMsg{
    position: absolute;
    top:-5px;
    right:-8px;
}

.header{
    display: grid;
    grid-template-columns: repeat(29,1fr);
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    border-bottom: 1px solid #624de3;
}


.header_logo{
    grid-column: var(--header_logo_col);
    display: flex;
    justify-content: var(--header_logo_justify);
    align-items: center;
    margin-left: 10px;
    height: 90%;
}

.header_logo1{display: var(--logo1_display);}
.header_logo2{display: var(--logo2_display); height: 80%; }


.header_nav_1{
    grid-column: var(--header_nav_col);
    display: var(--nav1_display);
    justify-content:  var(--header_nav_justify);
    align-items: center;
    height: 90%;
    font-size: var(--fontSize);
}
.header_nav_1 li , .header_nav_1 li a{
    font-size: medium;
    text-decoration: none; 
    color: #333; 
    padding: 10px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.header_nav_1 li:hover , .header_nav_1 li a:hover {
    background-color: rgba(83, 68, 178, 0.1);
}


.header_avatar{
    grid-column: var(--header_avatar_col);
    display: flex;
    align-items: center;
    height: 90%;
}


.avatar_img{
    border-radius: 50%;
    margin :0px 25px;
    height: 70px;
    width: 70px;
    box-shadow: 2px 2px 2px 0px #00000029;
}
.avatar_img:hover{
    cursor: pointer;
    height: 72px;
    width: 72px;
}
.avatar_notifications_img{
    position: relative;
    margin :0px 25px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.avatar_notifications_img:hover{
    transition: transform 0.2s;
    transform: scale(1.05);
}

.header_avatar_name{
    font-size: medium;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    height:max-content;

}

.header_avatar_name>#hello:hover{
    cursor: pointer;
    color:rgb(24, 43, 42);
}

#logout{
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout>button{
    height:  90%;
    background: #624de3;

    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 13px;
    padding: 3px 10px 4px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border:none;
    margin-top: 2px;
}
#logout>button:hover {
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.05);
    box-shadow: 2px 2px 2px 0px #00000029;
    text-decoration: none;
  }




.header_nav_burger{
    display: var(--nav_burger);
    grid-column: var(--header_nav_col);
    justify-content:  center;
    align-items:  center;
    height: 90%;
    font-size: var(--fontSize);
    width: 80px;
    height:50px;
    
}

.header_nav_burger:hover{
    font-size: medium;
    text-decoration: none; 
    color: #333; 
    padding: 10px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: rgba(83, 68, 178, 0.1);

}

.header_nav_2{
    display: var(--nav2_display);

    /* grid-column: var(--header_nav_col); */
    /* justify-content:  var(--header_nav_justify);
    height: 90%;
    font-size: var(--fontSize);
    display: var(--nav2_display); */
}


.burger_nav{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: large;
    width: 100%;

}


.burger_nav li , .burger_nav li a{
    font-size: medium;
    width: 100%;
    text-decoration: none; 
    color: #333; 
    padding: 10px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.burger_nav li:hover , .burger_nav li a:hover {
    background-color: rgba(83, 68, 178, 0.1);
}


@media (max-width: 8500px) {
    :root{
        --fontSize                  : 2rem;
        --header_avatar_col         : 1/8;
        --header_nav_col            : 8/23;   
        --header_logo_col           : 23/30;  
        --header_nav_justify        : center;   
        --logo1_display             : inline-block;
        --logo2_display             : none;
        --nav1_display              : flex;
        --nav2_display              : none;
        --nav_burger                : none;
    }
}

@media (max-width: 1500px) {
    :root{
        --fontSize                  : 2rem;
        --header_avatar_col         : 1/10;
        --header_nav_col            : 10/23;   
        --header_logo_col           : 23/30;  
        --header_nav_justify        : center;   
        --logo1_display             : inline-block;
        --logo2_display             : none;
        --nav1_display              : flex;
        --nav_burger              : none;
    }
}

@media (max-width: 1200px) {
    :root{
        --fontSize                  : 1.5rem;
        --header_avatar_col         : 1/10;
        --header_nav_col            : 10/23;   
        --header_logo_col           : 23/30;  
        --header_nav_justify        : center;   
        --logo1_display             : inline-block;
        --logo2_display             : none;
        --nav1_display              : flex;
        --nav_burger              : none;
    }
}
@media (max-width: 1000px) {
    :root{
        --fontSize                  : 1rem;
        --header_avatar_col         : 1/13;
        --header_nav_col            : 13/27;   
        --header_logo_col           : 27/30;  
        --header_nav_justify        : right;   
        --logo1_display             : none;
        --logo2_display             : inline-block;
        --nav1_display              : flex;
        --nav2_display              : none;
        --nav_burger              : none;
    }
}

@media (max-width: 800px) {
    :root{
        --fontSize                  : 1rem;
        --header_avatar_col         : 1/20;
        --header_nav_col            : 20/27;   
        --header_logo_col           : 27/30;  
        --header_nav_justify        : right;   
        --logo1_display             : none;
        --logo2_display             : inline-block;  
        --nav1_display              : none;
        --nav_burger              : flex;
    }
}

