header{
    display: flex;
    height: 72px;
    border-bottom: 1px solid #624de3;
    align-items: center;
    padding: 0 8px
}

#account{
    display: flex;
    align-items: center;
}

#menu{
    display: inline-flex;
    flex-grow: 1;
    margin-right: 10px;
}


#logo {
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-left: #624de3 solid 1px;
}

#logo img {
    width: 200px;
}

#menu li{
    font-size: medium;
    text-decoration: none; /* Remove default underline */
    color: #333; /* Menu item text color */
    padding: 10px 15px; /* Add padding to create clickable area */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#menu li:hover {
    background-color: rgba(83, 68, 178, 0.1);
}

#avatar{
    width: 45px;
    margin: 0 8px;
}

#avatar img {
    border-radius: 50%;
    box-shadow: 2px 2px 2px 0px #00000029;
}

#hello{
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    height: 60%;
}

#logout{
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#notifications {
    width: 25px;
    margin: 0px 8px;
    cursor: pointer;
}

#notifications:hover {
    transition: transform 0.2s;
    transform: scale(1.05);
}

#name {
    margin-right: 8px;
    margin-left: 10px;
}

#logout button {
    height:  90%;
    background: #624de3;

    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 13px;
    padding: 3px 10px 4px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border:none;
    margin-top: 2px;

  }

#logout button:hover {
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.05);
    box-shadow: 2px 2px 2px 0px #00000029;
    text-decoration: none;
  }