/* Body Styles */
body {
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Root Element Styles */
#root {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; /* Use a lighter border color */
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 800px;
    direction: rtl;
    background-color: #fcf9f9;
    border-radius: 10px; /* Add border radius for a modern look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Background Image */
.tempOn {
    background-image: url('http://127.0.0.1:5000/static/img/bgTemp.png'); 
    background-repeat: no-repeat;
    /* Consider adding other background properties for better compatibility */
}

/* Media Queries */
@media (max-width: 1200px) {
    #root {
        max-width: 95%; /* Adjust max width for smaller screens */
    }
}

@media (max-width: 768px) {
    #root {
        max-width: 90%; /* Adjust max width for smaller screens */
    }
}

@media (max-width: 576px) {
    #root {
        max-width: 85%; /* Adjust max width for smaller screens */
        padding: 10px; /* Add padding for smaller screens */
    }
}
