<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/aboutUs.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/calendarAssistant.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/calendar.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/popup.css"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/alertLib.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/calendarEvents.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/tableLib.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/message.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/chid_assistant.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/chid_assistant_add.css"/>
</head>
<body>
    <div id="root" class=""></div>
    <div id="loginRoot" style="display=none;" class=""></div>

    <script>
        let dataJson = "{{data}}"
        let data = dataJson.replaceAll("&#34;",'"')
        try{
            data = JSON.parse(data);
            console.log("data:",data)
        }
        catch{
            console.log("dataJson:",data)
            console.log("JSON NOT VALID (index.html)")
        }
    </script>



    <script src="static/lib/json.js"></script>
    <script src="static/lib/render.js"></script>
    <script src="static/lib/loop.js"></script>
    <script src="static/lib/jquery.js"></script>
    <script src="static/lib/http.js"></script>
    <script src="static/lib/alert.js"></script>
    <script src="static/lib/dom.js"></script>
    <script src="static/lib/table.js"></script>
    <script src="static/lib/time.js"></script>



    <script src="static/scripts/router.js"></script>

    {% for script in scripts %}
        <script src="static/scripts/{{ script }}"></script>
    {% endfor %}

    {% for comp in components %}
        <script src="static/comps/{{ comp }}"></script>
    {% endfor %}

    {% for p in page %}
        <script src="static/pages/{{ p }}"></script>
    {% endfor %}

    <script src="static/scripts/index.js"></script>
</body>
</html>