<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/aboutUs.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/home.css"/>

    <link rel="stylesheet" type="text/css" href="static/css/chid_assistant.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/chid_assistant_add.css"/>
</head>
<body>
    <div id="root" class=""></div>

    <script>
        let dataJson = "{{data}}"
        let data = {}
        try{
            data = JSON.parse(dataJson.replaceAll("&#34;",'"'));
            console.log("data:",data)
        }
        catch{
            data = {}
            console.log("JSON NOT VALID (index.html)")
        }
    </script>



    <script src="static/lib/json.js"></script>
    <script src="static/lib/render.js"></script>
    <script src="static/lib/loop.js"></script>
    <script src="static/lib/jquery.js"></script>
    <script src="static/lib/http.js"></script>
    <script src="static/lib/alert.js"></script>

    <script src="static/scripts/router.js"></script>
    <script src="static/scripts/index.js"></script>


    {% for script in scripts %}
        <script src="static/scripts/{{ script }}"></script>
    {% endfor %}

    {% for comp in components %}
        <script src="static/comps/{{ comp }}"></script>
    {% endfor %}

    {% for p in page %}
        <script src="static/pages/{{ p }}"></script>
    {% endfor %}
</body>
</html>